{# src/OC/CoreBundle/Resources/views/Page/form.html.twig #}


<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}

  {# Génération du label + error + widget pour un champ. #}


  {# Génération manuelle et éclatée : #}

  {% if form.category is defined %}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.category, "Catégorie", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {{ form_errors(form.category) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {% if app.request.attributes.get('_route') == "oc_core_add" %}
      {{ form_widget(form.category, {'attr': {'class': 'col-sm-2 form-control'}}) }}
      <a href="{{ path('oc_core_addnewcat') }}" class="btn btn-info"> Ajouter une nouvelle catégorie </a>
      {% elseif app.request.attributes.get('_route') == "oc_core_addnewcat" %}
      {{ form_widget(form.category.name, {'attr': {'class': 'col-sm-2 form-control'}}) }}
      {% endif %}
    </div>
  </div>
  {% endif %}

  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.title, "Page title", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {{ form_errors(form.title) }}

    <div class="col-sm-10">

      {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Idem pour un autre champ. #}
  <div class="form-group">
  
    {{ form_label(form.content, "Page content", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.content) }}
    <div class="col-sm-10">
      {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.roleaccess, "Role Access", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {{ form_errors(form.roleaccess) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.roleaccess, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>

{# On charge la bibliothèque jQuery. Ici, je la prends depuis le CDN google
   mais si vous l'avez en local, changez simplement l'adresse. #}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
