{# src/OC/CoreBundle/Resources/views/Admin/index.html.twig #}

{% extends "OCCoreBundle:Admin:layout.html.twig" %}

{% block title %}
  Index
{% endblock %}

{% block body %}

  <h2>Liste des pages</h2>


  {% for category in listCats %}
    <h3> {{ category.name }}</h3>
    <ul>
    {% for page in listPages %}
      {% if page.category.id == category.id %}
        <li>
          <a href="{{ path('oc_core_view', {'category': page.category.name, 'slug': page.slug}) }}">
            {{ page.title }}
          </a> <br>
          <a href="{{ path('oc_core_versions', {'slug': page.slug}) }}" class="btn btn-info"> See Old Versions </a>
          <a href="{{ path('oc_core_edit', {'slug': page.slug}) }}" class="btn btn-warning"> Edit </a> 
          <a href="{{ path('oc_core_delete', {'slug': page.slug}) }}" class="btn btn-danger"> Delete </a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endfor %}
      
  

  <a href="{{ path('oc_core_add') }}" class ="btn btn-success" > Ajouter un article </a>


{% endblock %}
